<!DOCTYPE html>
<html ng-app='electron.app'>

    <head>

        <meta charset="UTF-8">

        <title>Bootectron Angulated</title>

        <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/styles.css" rel="stylesheet">

    </head>

    <body ng-controller='mainController as vm'>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar" ng-repeat='i in [1,2,3]'></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li ng-repeat='e in vm.menu'>
                            <a href="#">{{e}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="clearfix spade"></div>

        <ng-view autoscroll="true"></ng-view>

        <div class="clearfix spade"></div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-form navbar-left">
                    Footer
                </div>
            </div>
        </nav>

    </body>

    <script src="vendor/jquery/dist/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>

    <script src="js/factories/todoFactory.js" type="text/javascript"></script>
    <script src="js/services/todoService.js" type="text/javascript"></script>
    <script src="js/controllers/mainController.js" type="text/javascript"></script>

    <script src="js/routes.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>

</html>
